# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties
.idea/
*.iml

# Android Studio
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/compiler.xml
.idea/kotlinc.xml
.idea/AndroidProjectSystem.xml
.idea/migrations.xml
.idea/runConfigurations.xml

# macOS
.DS_Store

# NDK / CMake
.cxx/
.externalNativeBuild/

# Captures (screenshots etc)
captures/
